# Android Studio
.idea/
*.iml
.DS_Store

# Local config
local.properties

# Gradle
.gradle/
.gradle
**/build/

# Native / NDK / CMake
.externalNativeBuild/
.cxx/

# Captures
captures/

# Logs and heap dumps
*.log
*.hprof

# Kotlin compiler (e.g., Compose)
.kotlinc/
.idea/kotlinc.xml

# .idea config files (ignored even if .idea/ is tracked)
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Lint
lint/reports/
lint-baseline.xml

# Firebase (Optional)
google-services.json
firebase-debug.log

# APKs (Optional)
*.apk
*.ap_
